
<div class="container">
    <div class="row">
      <form [formGroup]="answerForm">

        <div class="form-group">
          <h3>Topic: {{survey.topic}}</h3>
        </div>

        <div class="form-group">
            <h5>Description: {{survey.description}}</h5>
        </div>

        <div formArrayName="answers">
          <div
            class="form-group"
            *ngFor="let question of getControl(); let i = index"
          >
          <h6>Q{{i+1}}</h6>
          <p>{{survey.questions[i]}}</p>
            <input type="text" class="form-control" [formControlName]="i">


          </div>
        </div>
        <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </form>
    </div>
  </div>




  <!-- <div formArrayName="questions">
    <div
      class="form-group"
      *ngFor="let question of originalQuestions; let i = index"
    >
    <h6>Q{{i+1}}</h6>
      <input type="text" [value]='originalQuestions[i]' class="form-control" [formControlName]="i">


    </div>
  </div> -->
