.container {
  display: block;
  max-width: 60%;
}

.createQuestions {
  margin-top: 30px;
}

.createQuestions button {
  display: flex;
  margin: 20px auto;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 25px;
}
