<div class="mt-5"></div>
<section class="vh-50">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>


                <div class="form-outline mb-4">
                  <input 
                    type="text" id="username" 
                    class="form-control form-control-lg"
                    [(ngModel)]="username"
                  />
                  <label class="form-label" for="username">Username</label>
                </div>

                <div class="form-outline mb-4">
                  <input 
                      type="email" 
                      id="displayName" 
                      class="form-control form-control-lg" 
                      [(ngModel)]="displayName"
                    />
                  <label class="form-label" for="displayName">Display Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input 
                    type="email" 
                    id="email" 
                    class="form-control form-control-lg"
                    [(ngModel)]="email"
                  />
                  <label class="form-label" for="email">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" 
                    id="password" 
                    class="form-control form-control-lg"
                    [(ngModel)]="password" 
                  />
                  <label class="form-label" for="password">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input 
                    type="password" 
                    id="repeatPassword" 
                    class="form-control form-control-lg" 
                    [(ngModel)]="repeatPassword"
                   />
                  <label class="form-label" for="repeatPassword">Repeat your password</label>
                </div>

                <p *ngIf="passwordWarning !== ''">{{passwordWarning}}</p>

                <!-- <div class="form-check d-flex justify-content-center mb-5">
                  <input 
                    class="form-check-input me-2" 
                    type="checkbox" 
                    id="agreement"
                    #agreementCheck
                  <label class="form-check-label" for="agreement">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div> -->

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                    (click)="register()">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                    class="fw-bold text-body"><u>Login here</u></a></p>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>